<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">


<style type="text/css">
    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }
    .container {
    max-width: 960px;
    }
    
    .pricing-header {
    max-width: 700px;
    }

    .search-bar{
        max-width: 400px;
        width: 100%;
        padding-top: 10px;
    }

    form{
        width: 100%;
    }
      
</style>


<div class="d-flex flex-column flex-md-row align-items-center pb-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    {% if user.is_authenticated %}
    <h5> Hello, {{ user.username.title }}
    </h5>
    {% endif %}

    <div class="search-bar mt-md-0 ms-md-auto">
        <form method="get">
            <input type="text" class="form-control" name="q" id="id_q" placeholder="Search...">
        </form>
    </div>

    {% if user.is_authenticated %}
    <nav class="d-flex align-items-center mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'home' %}">Home</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/account">Account</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/logout">Logout</a>
        <!-- <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Pricing</a> -->
    </nav>

    {% else %}
    <nav class="d-flex align-items-center mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'home' %}">Home</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/login">Login</a>
        <a class="me-3 btn btn-outline-primary" href="/register">Register</a>
    </nav>
    {% endif %}
</div>

<script type="text/javascript">
    document.getElementById("id_q").value = "{{ query }}"
</script>


